	<div id="fh5co-testimonials" data-section="newclient">		
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate editable">New Client</h2>
		    		
				</div>
			</div>
			
					
    		<div class="row">
    			<div class="col-md-6 text-center">
    				Test
    			</div>
    			<div class="col-md-6 text-center">
    				Test
    			</div>
    		</div>
    		
	
			<div class="row">
			    
        		{% for testimonial in site.testimonials %}
    				<div class="col-md-4">
    					<div class="box-testimony to-animate">
    						<blockquote>
    							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
    							<p>{{testimonial.content}}</p>
    						</blockquote>
    						<p class="author">{{testimonial.title}}  a<a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
    					</div>
    					
    				</div>
                {% endfor %}
			</div>
			
		</div>
	</div>